@import "@Mixins";
.overlay {
    position: fixed;
    inset: 0;
    background: var(--darken);
    z-index: 9999;
    display: flex;
}

.wheel_of_fortune {
    position: relative;
}

.wrap {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 56px;
    width: 1150px;
    height: 685px;
    margin-left: -325px;
    overflow: hidden;
    background: var(--black-white);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-self: flex-end;

    @include BigTablet {
        width: calc(1080px + (1150 - 1080) * ((100vw - 790px) / (1024 - 790)));
    }
    @include Tablet {
        width: calc(1020px + (1080 - 1020) * ((100vw - 700px) / (790 - 700)));
    }
    @include Mobile {
        height: 743px;
        align-items: flex-start;
        width: 100%;
        margin-left: 0;
        flex-wrap: wrap;
        padding-top: 20px;
        border-radius: 0;
        gap: 0;
    }
}

.widgetClose {
    position: absolute;
    right: 27px;
    top: 27px;
    cursor: pointer;
    transition: 0.2s;
    @include Mobile {
        right: calc(10px + (27 - 10) * ((100vw - 320px) / (440 - 320)));
        top: calc(10px + (27 - 10) * ((100vw - 320px) / (440 - 320)));
    }
}

.wheel_text {
    display: flex;
    width: 369px;
    padding-top: 15px;
    flex-direction: column;
    gap: 16px;
    @include Tablet {
        min-width: 340px;
    }
    @include Mobile {
        width: calc(320px + (335 - 320) * ((100vw - 320px) / (440 - 320)));
    }
}
.hidden {
    display: none;
}
