:root {
    --font-increase: 0px;

    /* Brand Colors */
    --brand-primary: #242a54;
    --brand-secondary: #63aaca;
    --brand-secondary-dark: #7a8bbd;
    --brand-matte: rgba(36, 42, 84, 0.5);

    /* State Colors */
    --state-info: #2f80ed;
    --state-success: #27ae60;
    --state-warning: #e2b93b;
    --state-error: #eb5757;

    /* Black Colors */
    --black-black1: #000000;
    --black-black2: #262626;
    --black-white: #ffffff;
    --black-white1: lightgray;

    /* Grey Colors */
    --grey-grey1: #333333;
    --grey-grey2: #4f4f4f;
    --grey-grey3: #828282;
    --grey-grey4: #bdbdbd;
    --grey-grey5: #e0e0e0;

    /* Blue Colors */
    --blue-blue1: #0171b9;

    /* Button */
    --button-hover: #c4ccff;
    --button-active: #313a76;
    --button-hovertext: #3b4586;

    /* Darken */
    --darken: #00000080;
}
