@import "@Mixins";

.serviceWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 32px;
    margin-top: 24px;
    @include SmallDesktop {
        margin-top: 110px;
        gap: 24px;
    }
    @include BigTablet {
        margin-top: 110px;
        gap: 24px;
    }
    @include Tablet {
        margin-top: 110px;
        gap: 24px;
    }
    @include Mobile {
        margin-top: 110px;
        gap: 24px;
    }
    .title {
        color: var(--brand-primary);
        text-align: center;
        @include SmallDesktop {
            font-size: 32px;
        }
        @include BigTablet {
            font-size: 32px;
        }
        @include Tablet {
            font-size: 32px;
        }
        @include Mobile {
            font-size: 24px;
        }
    }

    .containerCard {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
