@import "@Mixins";

.button {
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    // @include Mobile{
    //     width: 335px !important;
    // }
}
.primary {
    background-color: var(--brand-secondary-dark);
    border-radius: 14px;
    &:hover {
        background-color: var(--button-hover);
    }
    &:active {
        background-color: var(--button-active);
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
    }
    &:disabled {
        background: var(--grey-grey3);
        box-shadow: none;
    }
}
.secondary {
    background: var(--black-white);
    border-radius: 14px;
    border: 1.5px solid var(--brand-secondary);
    .buttonText {
        color: var(--brand-secondary);
        &:disabled {
            color: var(--grey-grey3);
        }
    }
    &:hover {
        background-color: var(--button-hover);
        border-color: var(--button-hover);
        .buttonText {
            color: var(--black-white);
        }
    }
    &:active {
        background-color: var(--button-active);
        border-color: var(--button-active);
        .buttonText {
            color: var(--black-white);
        }
    }
    &:disabled {
        background: var(--black-white);
        border: 1.5px solid var(--grey-grey3);
        color: var(--grey-grey3);
        box-shadow: none;
        pointer-events: none;
        .buttonText {
            color: var(--grey-grey3);
        }
    }
}

.text {
    background-color: transparent;
    padding: 12px 32px;
    display: flex;
    width: 165px;
    height: 45px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--brand-primary);
    &:hover {
        color: var(--hover-color);
    }
    &:active {
        color: var(--active-color);
    }
}

.icon {
    display: flex;
    height: 50px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--brand-secondary-dark);
    @include Mobile {
        width: 50px;
    }
    .arrowRight {
        display: flex;
        width: 25.6px;
        height: 25.6px;
        padding: 7px 0;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    &:hover {
        background-color: var(--button-hover);
    }

    &:active {
        background-color: var(--button-active);
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
    }

    &:disabled {
        background: var(--grey-grey3);
        box-shadow: none;
    }
}
